<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jacksonbarker.ca</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">jacksonbarker.ca</h2>
      <div class="row my-5">
        <div class="px-5 pb-5 col-md-8 col-lg-9">
          <p class="lead fw-bold">Hello, World!</p>
          <p class="lead">
            My name is Jackson Barker. I'm a Networking and IT Security student
            at Ontario Tech University and an Associate Information Officer of
            <a
              href="https://netsoc.ca/"
              class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
              >Netsoc</a
            >.
          </p>
          <p class="lead">
            This website is primarily used to access my homelab, which provides
            URL shortening and cloud storage. So if you arrived here by mistake,
            it's probably because the resource you were attempting to access no
            longer exists.
          </p>
          <p class="lead">
            If you need to reach me,
            <a
              href="https://signal.me/#eu/8gjvOtJQANa2gKDbo3VmDuCPQ55KREWZLOBGksgskdmmuvpksy9BIJyVf0IrW4dK"
              class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
              ><i class="fa-brands fa-signal-messenger"></i> Signal</a
            >
            is my preferred means of contact.
          </p>
        </div>
        <div class="col-md-4 col-lg-3 bg-light rounded">
          <img
            src="/images/thumbnail.jpg"
            class="img-fluid img-thumbnail my-2 d-none d-md-block"
          />
          <div class="d-flex d-md-none justify-content-around my-4">
            <a
              href="https://www.linkedin.com/in/jackson-barker-270443232"
              class="link-dark"
              ><i class="fa-brands fa-linkedin fa-3x"></i
            ></a>
            <a href="https://github.com/JacksonBarker" class="link-dark"
              ><i class="fa-brands fa-github fa-3x"></i
            ></a>
            <a
              href="https://signal.me/#eu/8gjvOtJQANa2gKDbo3VmDuCPQ55KREWZLOBGksgskdmmuvpksy9BIJyVf0IrW4dK"
              class="link-dark"
              ><i class="fa-brands fa-signal-messenger fa-3x"></i
            ></a>
          </div>
          <div class="d-none d-md-block justify-content-around my-3">
            <a
              href="https://www.linkedin.com/in/jackson-barker-270443232"
              class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            >
              <p class="py-2 h3 text-center">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
              </p></a
            >
            <a
              href="https://github.com/JacksonBarker"
              class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            >
              <p class="py-2 h3 text-center">
                <i class="fa-brands fa-github"></i> GitHub
              </p></a
            >
            <a
              href="https://signal.me/#eu/8gjvOtJQANa2gKDbo3VmDuCPQ55KREWZLOBGksgskdmmuvpksy9BIJyVf0IrW4dK"
              class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            >
              <p class="py-2 h3 text-center">
                <i class="fa-brands fa-signal-messenger"></i> Signal
              </p></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
