<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Under Construction | jacksonbarker.ca</title>
    <link rel="icon" href="/fontawesome/svgs/solid/road-barrier.svg" />
    <% include partials/head %>
  </head>
  <body>
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">jacksonbarker.ca</h2>
      <div class="my-5 text-center">
        <i class="mx-auto mb-4 fa-solid fa-road-barrier fa-3x"></i>
        <h1 class="display-5 fw-bold text-body-emphasis">Under Construction</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead pb-3">
            My focus is on school at the moment, but soon I will trasnform this
            site in to a blog and portfolio. Stay tuned.
          </p>
          <i class="lead">- Jackson</i>
        </div>
      </div>
    </div>
  </body>
</html>
