<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %> - jacksonbarker.ca</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">
        <%= title %>
        <a
          href="/"
          class="fw-light fst-italic link-secondary link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >- jacksonbarker.ca</a
        >
      </h2>
      <div class="row justify-content-center my-4">
        <div class="btn-group col-12 col-lg-4 px-0">
          <a class="btn btn-secondary btn-lg" href="/jacksonbarker.vcf"
            ><i class="fa-solid fa-address-book"></i> Contact (.vcf)</a
          >
          <a
            class="btn btn-outline-secondary btn-lg"
            href="mailto:jacksonbarker.ca"
            ><i class="fa-solid fa-envelope"></i> Email</a
          >
        </div>
      </div>
      <div class="row justify-content-center my-4">
        <a
          class="col-12 col-lg-4 btn btn-secondary btn-lg"
          href="https://www.linkedin.com/in/jackson-barker-270443232"
          ><i class="fa-brands fa-linkedin"></i> LinkedIn</a
        >
      </div>
      <div class="row justify-content-center my-4">
        <a
          class="col-12 col-lg-4 btn btn-secondary btn-lg"
          href="https://github.com/JacksonBarker"
          ><i class="fa-brands fa-github"></i> GitHub</a
        >
      </div>
      <div class="row justify-content-center my-4">
        <a
          class="col-12 col-lg-4 btn btn-secondary btn-lg"
          href="https://signal.me/#eu/8gjvOtJQANa2gKDbo3VmDuCPQ55KREWZLOBGksgskdmmuvpksy9BIJyVf0IrW4dK"
          ><i class="fa-brands fa-signal-messenger"></i> Signal</a
        >
      </div>
      <div class="row justify-content-center my-4">
        <a class="col-12 col-lg-4 btn btn-secondary btn-lg" href="/"
          ><i class="fa-solid fa-globe"></i> Website</a
        >
      </div>
    </div>
  </body>
</html>
